:root {
    --materialize-color-facebook: #3b5998;
    --materialize-color-twitter: #1da1f2;
    --materialize-color-reddit: #ff4500;
    --materialize-color-linkedin: #0077b5;
    --materialize-color-google-plus: #dd4b39;
}
:root,
.materialize-color-black {
    --materialize-color-lighten-6: #f6f6f6;
    --materialize-color-lighten-5: #e8e8e8;
    --materialize-color-lighten-4: #cecece;
    --materialize-color-lighten-3: #b4b4b4;
    --materialize-color-lighten-2: #9a9a9a;
    --materialize-color-lighten-1: #808080;
    --materialize-color: #666;
    --materialize-color-darken-1: #4c4c4c;
    --materialize-color-darken-2: #323232;
    --materialize-color-darken-3: #181818;
    --materialize-color-darken-4: #000000;
}
.materialize-color-blue {
    --materialize-color-lighten-5: #e3f2fd;
    --materialize-color-lighten-4: #bbdefb;
    --materialize-color-lighten-3: #90caf9;
    --materialize-color-lighten-2: #64b5f6;
    --materialize-color-lighten-1: #42a5f5;
    --materialize-color: #2196f3;
    --materialize-color-darken-1: #1e88e5;
    --materialize-color-darken-2: #1976d2;
    --materialize-color-darken-3: #1565c0;
    --materialize-color-darken-4: #0d47a1;
}
.materialize-color-red {
    --materialize-color-lighten-5: #ffebee;
    --materialize-color-lighten-4: #ffcdd2;
    --materialize-color-lighten-3: #ef9a9a;
    --materialize-color-lighten-2: #e57373;
    --materialize-color-lighten-1: #ef5350;
    --materialize-color: #f44336;
    --materialize-color-darken-1: #e53935;
    --materialize-color-darken-2: #d32f2f;
    --materialize-color-darken-3: #c62828;
    --materialize-color-darken-4: #b71c1c;
}
.materialize-color-light-green {
    --materialize-color-lighten-5: #f1f8e9;
    --materialize-color-lighten-4: #dcedc8;
    --materialize-color-lighten-3: #c5e1a5;
    --materialize-color-lighten-2: #aed581;
    --materialize-color-lighten-1: #9ccc65;
    --materialize-color: #8bc34a;
    --materialize-color-darken-1: #7cb342;
    --materialize-color-darken-2: #689f38;
    --materialize-color-darken-3: #558b2f;
    --materialize-color-darken-4: #33691e;
}
.materialize-color-yellow {
    --materialize-color-lighten-5: #fffde7;
    --materialize-color-lighten-4: #fff9c4;
    --materialize-color-lighten-3: #fff59d;
    --materialize-color-lighten-2: #fff176;
    --materialize-color-lighten-1: #ffee58;
    --materialize-color: #ffeb3b;
    --materialize-color-darken-1: #fdd835;
    --materialize-color-darken-2: #fbc02d;
    --materialize-color-darken-3: #f9a825;
    --materialize-color-darken-4: #f57f17;
}
.materialize-color-orange {
    --materialize-color-lighten-5: #fff3e0;
    --materialize-color-lighten-4: #ffe0b2;
    --materialize-color-lighten-3: #ffcc80;
    --materialize-color-lighten-2: #ffb74d;
    --materialize-color-lighten-1: #ffa726;
    --materialize-color: #ff9800;
    --materialize-color-darken-1: #fb8c00;
    --materialize-color-darken-2: #f57c00;
    --materialize-color-darken-3: #ef6c00;
    --materialize-color-darken-4: #e65100;
}
.materialize-color-indigo {
    --materialize-color-lighten-5: #e8eaf6;
    --materialize-color-lighten-4: #c5cae9;
    --materialize-color-lighten-3: #9fa8da;
    --materialize-color-lighten-2: #7986cb;
    --materialize-color-lighten-1: #5c6bc0;
    --materialize-color: #3f51b5;
    --materialize-color-darken-1: #3949ab;
    --materialize-color-darken-2: #303f9f;
    --materialize-color-darken-3: #283593;
    --materialize-color-darken-4: #1a237e;
}
.materialize-color-blue-gray {
    --materialize-color-lighten-5: #eceff1;
    --materialize-color-lighten-4: #cfd8dc;
    --materialize-color-lighten-3: #b0bec5;
    --materialize-color-lighten-2: #90a4ae;
    --materialize-color-lighten-1: #78909c;
    --materialize-color: #607d8b;
    --materialize-color-darken-1: #546e7a;
    --materialize-color-darken-2: #455a64;
    --materialize-color-darken-3: #37474f;
    --materialize-color-darken-4: #263238;
}
.materialize-color-white {
    --materialize-color-lighten-5: rgba(255, 255, 255, 0.5);
    --materialize-color-lighten-4: rgba(255, 255, 255, 0.6);
    --materialize-color-lighten-3: rgba(255, 255, 255, 0.7);
    --materialize-color-lighten-2: rgba(255, 255, 255, 0.8);
    --materialize-color-lighten-1: rgba(255, 255, 255, 0.9);
    --materialize-color: #FFFFFF;
    --materialize-color-darken-1: #4c4c4c;
    --materialize-color-darken-2: #323232;
    --materialize-color-darken-3: #181818;
    --materialize-color-darken-4: #000000;
}
